<style>
    .clickdisc {
      background-color: rgba(128, 128, 128, 0.183);
      border-radius: 10px;
    }
  </style>
  <div class="main-wrapper">
    <div class="container">
      <div class="page-content">
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-4 col-12 card-stacked" style="height: 500px; overflow: scroll;">
              <div class="card shadow-line mb-3 chat">
                <div class="chat-user-panel">
                  <div class="pb-3 d-flex flex-column navigation-mobile pagination-scrool chat-user-scroll">
                    <div (click)="clickUser(i)" class="chat-item d-flex "
                      [ngClass]="{'clickdisc' : userClick?.id == i.id}" *ngFor="let i of users"
                      style="justify-content: space-between; padding: 10px;">
                      <div>
                        <div class="d-flex">
                          <img class="rounded-circle shadow avatar-sm mr-3"
                            src="https://account.pomfort.com/static/images/icon-account-g.png">
                          <div>
                            <p style="font-weight: bold; margin-top: 10px; font-family: Arial, Helvetica, sans-serif; margin-left: 30px;">
                              {{capitalizeFirstLetter(i.username)}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="flex-shrink-0 margin-auto pl-2 pr-3">
                        <div class="d-flex flex-column">
                          <p class="text-muted text-right fs-13 mb-2">08:21</p>
                          <span class="round badge badge-light-success margin-auto"
                            *ngIf="countMessage(i.id) > 0">{{countMessage(i.id)}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-12 card-stacked">
              <div class="card shadow-line mb-3 chat chat-panel" style="height: 500px;">
                <div *ngIf="userClick" style="height: 500px; overflow: scroll;" #myScrollContainer class="d-flex flex-row">
                  <div class="w-100 p-3">
                    <div *ngFor="let m of messages">
                      <div *ngIf="m.rec == this.userClick.id && m.sender == this.me.id">
                        <div class="d-flex flex-row-reverse mb-2" *ngIf="m.sender == me.id">
                          <div class="right-chat-message fs-13 mb-2">
                            <div class="mb-0 mr-3 pr-4">
                              <div class="d-flex flex-row">
                                <div class="pr-2">{{m.content}}</div>
                                <div class="pr-4"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="m.rec == this.me.id && m.sender == this.userClick.id">
                        <div class="left-chat-message fs-13 mb-2" *ngIf="m.sender !== me.id">
                          <p class="mb-0 mr-3 pr-4">
                            {{m.content}}
                          </p>
  
  
                        </div>
                      </div>
  
                    </div>
  
  
                  </div>
  
                </div>
                <div *ngIf="userClick" class="chat-search pl-3 pr-3">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" class="form-control" placeholder="Write a message">
                    <button class="btn btn-danger" (click)="sendMessage()">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function ($) {
        "use strict";
        $('.scrollable-chat-panel').perfectScrollbar();
        var position = $(".chat-search").last().position().top;
        $('.scrollable-chat-panel').scrollTop(position);
        $('.scrollable-chat-panel').perfectScrollbar('update');
        $('.pagination-scrool').perfectScrollbar();
  
        $('.chat-upload-trigger').on('click', function (e) {
          $(this).parent().find('.chat-upload').toggleClass("active");
        });
        $('.user-detail-trigger').on('click', function (e) {
          $(this).closest('.chat').find('.chat-user-detail').toggleClass("active");
        });
        $('.user-undetail-trigger').on('click', function (e) {
          $(this).closest('.chat').find('.chat-user-detail').toggleClass("active");
        });
      })(jQuery);
    </script>
  